.overview {
  &__col {
    &:first-child {
      z-index: 6;
    }

    &:nth-child(2) {
      z-index: 5;
    }

    &:nth-child(3) {
      z-index: 4;
    }

    &:nth-child(4) {
      z-index: 3;
    }

    &:nth-child(5) {
      z-index: 2;
    }

    &:last-child {
      z-index: 1;
    }
  }

  &__chart {
    background: #fff !important;
    padding: 1.5em;
    border-radius: 0.2em;

    &_title {
      font-weight: 400 !important;
      font-size: 16px !important;
      line-height: 1 !important;
      margin: 1em 0 !important;
      //padding: 1em 0 0;
      text-align: center;
    }

    &_empty {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-sizing: border-box;
      height: 160px;
      margin: 2em 1em 1em 1em !important;
      background: #fafafa;
    }
  }
}

@media screen and (min-width: 768px) {
  .overview {
    &__col {
      &:first-child {
        z-index: 3;
      }

      &:nth-child(2) {
        z-index: 3;
      }

      &:nth-child(3) {
        z-index: 2;
      }

      &:nth-child(4) {
        z-index: 2;
      }

      &:nth-child(5) {
        z-index: 1;
      }

      &:last-child {
        z-index: 1;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .overview {
    &__col {
      &:first-child {
        z-index: 2;
      }

      &:nth-child(2) {
        z-index: 2;
      }

      &:nth-child(3) {
        z-index: 2;
      }

      &:nth-child(4) {
        z-index: 1;
      }

      &:nth-child(5) {
        z-index: 1;
      }

      &:last-child {
        z-index: 1;
      }
    }
  }
}
