// Here you can add other styles
@mixin icon-color-variant($bg) {
  color: $bg;
  text-decoration: none;
  &[href] {
    @include hover-focus {
      color: $bg;
      text-decoration: none;
    }
  }
}

@each $color, $value in $theme-colors {
  .icon-#{$color} {
    @include icon-color-variant($value);
  }
}

.card-step-index {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background-color: #4d9f4c;
  padding: 10px;
  text-aligh: center;
  border-radius: 20px;
}

.nopadding-left {
  padding-left: 0 !important;
}

.nopadding-right {
  padding-right: 0 !important;
}

.row-badge {
  display: inline-block;
  height: 80%;
  width: 70px;
  cusrsor: pointer;
  .tooltip {
    display: none;
  }
  &:hover {
    .tooltip {
      display: block;
      opacity: 1;
      transition: all ease 1s;
    }
  }
}

.tutorial-mode-mark {
  display: none;
}

.pm-tutorial-mode {
  .tutorial-mode-mark {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    color: red;
    border-top: solid 1px orangered;
    .tutorial-mode-mark-inner {
      border-radius: 20px;
      background-color: orangered;
      text-align: center;
      color: white;
      font-size: 12px;
      font-weight: bold;
      margin-top: -2px;
      padding: 2px;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

legend {
  font-size: 14px;
  text-transform: uppercase;
  color: #336573;
}

.app-header {
  margin-right: 350px;
}

.page-card {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05);
}

.page-card-progress {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.99);
  background-image: repeating-linear-gradient(45deg, transparent 0px, rgba(0, 0, 0, 0.016) 5px), repeating-linear-gradient(-45deg, transparent 0px, rgba(0, 0, 0, 0.016) 5px);
  text-align: center;
  font-size: 36px;
  color: #888;
  z-index: 100000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}
.raw-input-right-action {
  width: $input-height;
}

.ReactPasswordStrength {
  position: relative;
  flex: 1 1 auto; }

.ReactPasswordStrength-input {
  padding: 0.375rem 0.75rem !important;
  font-size: 0.875rem !important;}

.ReactPasswordStrength-strength-desc {
  padding: 0.45rem 1.5rem !important;
  font-style: normal !important;
}

.ReactPasswordStrength.is-strength-1 .ReactPasswordStrength-strength-desc {
  color: #d1462fab !important;
}

.ReactPasswordStrength.is-strength-0 .ReactPasswordStrength-strength-desc {
  color: #d1462fab !important;
}

.ReactPasswordStrength.is-strength-0 .ReactPasswordStrength-strength-bar{
  background-color:  #d1462fab !important;
}

.ReactPasswordStrength.is-strength-1 .ReactPasswordStrength-strength-bar{
  background-color:  #d1462fab !important;
}

.top-center-alert {
  display: block;
  position: absolute;
  top: 0px;
  left: 200px;
  width: 100%;
  margin: 0 30px;
  border-top: solid 1px orangered;
  color: red;
  z-index: -1; }

.btn-calendar{
  border: 1px solid #c2cfd6;
  background-color: transparent;
}

$nav-link-colors: #5266FB;
$hb_green: #1fe8b5;
$hb_blue: #4768fd;
$hb_background: #ECF3FE;

.sidebar .nav-title, .sidebar .nav-link.active, .sidebar .nav-link.fa{
  color: $nav-link-colors !important;
}



.sidebar .nav-link:hover{
  color: $nav-link-colors !important;
}

.sidebar .nav-link.active a{
  color: $nav-link-colors !important;
}

.app-header a{
  color: $sidebar-nav-link-color !important;
}
.app-header a:hover, .sidebar-nav a:hover{
  color: $nav-link-colors !important;
  cursor: pointer;
}

.app-header nav{
  padding: 0 30px;
}

.card .nav-tabs .nav-link.active{
  color: $nav-link-colors !important;
}

.sidebar .nav-link.active i, .sidebar .nav-link:hover i{
  color: $nav-link-colors !important;
}

.btn-link{
  color: $nav-link-colors !important;
}

.bg-success{
  background-color: $hb_green !important;
}

.switch-success > .switch-input:checked ~ .switch-label{
  background-color: #5ebb8b !important;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff; }
.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc; }
.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff; }
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf; }
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }


#tooltip-top > .tooltip-inner {
  background-color: #fff !important;
  color: #000;
  border: 1px solid #062e56;
}

#tooltip-top > .tooltip-arrow {
  border-top: 5px solid #062e56;
}

.card-body .nav-link, .top-center-alert .nav-link{
  display: inline;
  padding: 0;
}

.__react_component_tooltip.type-success{
  background-color: $hb_green;
}

.__react_component_tooltip.type-info{
  background-color: $hb_blue;
}

.__react_component_tooltip.type-light{
  background-color: rgb(232, 240, 255);
}

.__react_component_tooltip.type-info pre{
  color: white;
  font-size: 100%;
  margin-bottom: 0;
}

.app-footer{
  margin: 0px !important;
  border-top: none;
  background-color: transparent;
  min-height: 25px;
  line-height: 25px;
  flex: 0 0 25px;
}
.app-footer .nav-link{
  color: $hb_blue;
  padding: 0;
  background-color: $hb_background !important;
}
.app-header{
  box-shadow: 10px 10px 20px $hb_background !important;
}
.app{
  background-color: $hb_background;
}

.invalid-feedback{
  display: inline !important;
}

.pm-check-boxes{
  border: 1px solid $hb_background;
  border-radius: 5px;
  padding: 1em;
}
.pm-sub-item{
  padding-left: 20px;
}
