.bidders-page {
  background: #f0f2f5;
  display: flex;
  flex-flow: column;
  height: 100%;
  padding: 1em;

  &__content {
    display: flex !important;
    flex-direction: column !important;
  }

  &__header {
    margin: 0 1em 0 0;
    background: #fff !important;
    display: flex;
    flex-direction: column;
    padding: 2.5em 2.5em 0;
    border-radius: 0.2em;
  }

  &__body {
    margin: 0 1em 0 0;
    background: #fff !important;
    display: flex;
    flex-direction: column;
    padding: 2.5em 2.5em;
    border-radius: 0.2em;
    flex-grow: 1;
    height: 100%;
  }

  &__title {
    text-align: center;
    margin: 1.5em 0 !important;
    color: #777777;
  }

  &__row {
    height: 100%;
    align-content: flex-start !important;
  }
}

.bidders-page-tabs {
  .ant-tabs-nav {
    margin: 0 1em 0 0 !important;
    padding: 0 2.5em !important;
    background: #fff !important;
  }
}

.ant-tabs-top {
  height: calc(100% - 81px) !important;
}

.ant-tabs-content-top {
  height: 100% !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
  box-shadow: none !important;
}

.highcharts-color-0 {
  //width: 150px;
  padding: 0 45px;
}

@media screen and (min-width: 992px) {
  .bidders-page {
    height: 100%;
    &__row {
      align-content: unset !important;
    }
  }
}

.bidders-page {
  &__chart {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
  }

  &__chart-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    background: #fafafa;

  }
}
